.body {
  padding: 0px;
  margin: 0 auto;
  box-sizing: border-box;
  background: linear-gradient(#b3ddff, #9cd2ff);
  width: 1440px;
}

.container {
  width: 1440px;
  margin-inline: auto;
}
#hero {
  background-image: url(/HeroImage.png);
  height: 773px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 100px;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  padding: 0px 118px;
  padding-left: 383px;
  width: 1440px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.logo {
  width: 100px;
  height: 34px;
}

.userIcon {
  width: 20px;
  height: 20px;
}

.navContainer {
  display: flex;
  gap: 24px;
}

.languageChanger {
  background-color: white;
  color: black;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: center;
}

.navText {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 100px;
}
.heroTextContainer {
  height: 394px;
  width: 618px;
  margin-inline: auto;
  text-align: center;
  margin-top: 64px;
}
.heroSubtitle {
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  color: #e8edf2;
  opacity: calc(72%);
  height: 80px;
}
.heroTitle {
  font-size: 250px;
  font-family: "Bebas Neue", sans-serif;
  color: #fdfdfe;
  opacity: calc(98%);
  height: 250px;
}
.heroYear {
  font-size: 64px;
  font-family: "Hanuman", sans-serif;
  font-weight: 900;
  color: white;
  opacity: calc(80%);
  height: 64px;
}
#journey {
  background-image: url(/Location\ image.png);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 100px 0px 0px;
}
.card {
  height: 370px;
  width: 275px;
  border-radius: 40px;
  background-image: url(/1.png);
  background-size: cover;
  display: flex;
  align-items: center;
  box-shadow:
    -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
  margin-top: 65px;
}
.card:hover {
  filter: brightness(60%);
}
.cardText {
  font-family: "Bebas Neue", sans-serif;
  font-size: 37px;
  color: #fdfdfe;
  opacity: calc(80%);
  width: 232px;
  height: 88px;
  text-shadow: 0px, 4px, 4.9px, black;
  text-align: center;
  margin-inline: auto;
}
.cardTwoImg {
  background-image: url(/2.png);
  background-size: cover;
}
.cardThreeImg {
  background-image: url(/3.png);
  background-size: cover;
}
.cardFourImg {
  background-image: url(/4.png);
  background-size: cover;
}
.height {
  font-family: "Bebas Neue", sans-serif;
  font-size: 37px;
  color: #fdfdfe;
  opacity: calc(80%);
  width: 232px;
  height: 44px;
  text-shadow: 0px, 4px, 4.9px, black;
  text-align: center;
  margin-inline: auto;
}
#destination {
  background-image: url(/Roadmap\ image.png);
  height: 902px;
  background-size: cover;
  position: relative;
}
.destinationTextContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 85px;
  width: 1440px;
  gap: 10px;
  padding-top: 120px;
}
.destinationTitle {
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  margin: 0px;
}
.destinationSubtitle {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #18181b;
  opacity: calc(70%);
  font-size: 20px;
  margin: 0px;
}
.destinationList {
  margin: 60px 121px 0px;
}
.destinationCard {
  height: 44px;
  width: 445px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 9999px;
  border: 4px solid transparent;
  justify-content: space-between;
  display: flex;
  font-family: "Inter", sans-serif;
}
.destinationCard:hover {
  border: 4px solid white;
}
.destinationCardSukhbaatar {
  background-color: rgba(238, 233, 217, 0.8);
}
.destinationCardAmarbaysgalant {
  background-color: rgba(139, 184, 193, 0.8);
}
.destinationCardKhorgo {
  background-color: rgba(170, 216, 215, 0.8);
}
.destinationCardTerkh {
  background-color: rgba(139, 192, 189, 0.8);
}
.destinationCardKhuvsgul {
  background-color: rgba(151, 204, 224, 0.8);
}
.destinationCardTitle {
  font-size: 24px;
  color: #090908;
  font-weight: 500;
  margin-bottom: 4px;
  margin: 0px 0px 4px;
  font-family: "Inter", sans-serif;
}
.destinationCardLocation {
  column-gap: 12px;
  display: flex;
}
.locationName {
  font-size: 12px;
  color: #18181b;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
.mapPin {
  width: 14px;
  height: 14px;
}
.Day {
  width: 52px;
  height: 52px;
  font-size: 14px;
  border-radius: 50%;
  background-color: #f7f6f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.placePin {
  width: 34px;
  height: 34px;
  position: absolute;
}
.placeImg {
  z-index: 20;
  width: 245px;
  height: 245px;
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
}
.pinSukhbaatar {
  top: 450px;
  left: 1167px;
}
.pinAmarbaysgalant {
  top: 290px;
  left: 990px;
}
.pinKhorgo {
  top: 420px;
  left: 790px;
}
.pinTerkh {
  top: 520px;
  left: 890px;
}
.pinKhuvsgul {
  top: 230px;
  left: 749px;
}
.destinationCardSukhbaatar:hover ~ .pinSukhbaatar {
  display: block;
}
.destinationCardAmarbaysgalant:hover ~ .pinAmarbaysgalant {
  display: block;
}
.destinationCardKhorgo:hover ~ .pinKhorgo {
  display: block;
}
.destinationCardTerkh:hover ~ .pinTerkh {
  display: block;
}
.destinationCardKhuvsgul:hover ~ .pinKhuvsgul {
  display: block;
}
#pricing {
  height: 1120px;
  background-image: url(/Price&Footer\ image.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.pricingHeader {
  height: 85px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 80px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.pricingTitle {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.pricingSubtitle {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  opacity: calc(70%);
  color: #18181b;
}
.pricingPackages {
  column-gap: 24px;
  margin-bottom: 116px;
  height: 527px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.pricingPackage {
  width: 336px;
  cursor: pointer;
  border-radius: 40px;
  padding: 32px 24px 48px;
  background-color: white;
  height: 447px;
  font-family: "Inter", sans-serif;
}
.heart {
  width: 36px;
  height: 36px;
}
.pricingPackage:hover {
  box-shadow:
    -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}
.pricingPackage:hover .packageSelectButton {
  color: white;
  background-color: black;
}
.pricingPackageHeader {
  font-size: 18px;
  color: #121316;
  column-gap: 16px;
  font-weight: 600;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.pricingPackageHeader h5 {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  height: 22px;
  width: 141px;
  margin: 0px;
}
.pricingPackageDetails {
  padding-block: 12px 30px;
}
.pricingPackageDetails h3 {
  margin: 0px;
}
.pricingPackageDetails h6 {
  margin: 0px;
}
.packagePrice {
  font-size: 40px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.packageDescription {
  font-size: 16px;
  color: #919191;
  font-weight: 500;
  margin-block: 10px 32px;
  font-family: "Inter", serif;
}
.pricingPackageDetails h4 {
  font-size: 18px;
  color: #121316;
  font-weight: 500;
  padding-left: 40px;
  margin-bottom: 16px;
}
.packageIncludes {
  display: flex;
  row-gap: 16px;
  font-size: 14px;
  color: #3f4145;
  font-weight: 500;
  flex-direction: column;
  width: 336px;
  height: 142px;
  margin: 0px;
  padding: 0px;
}
.includeItem {
  column-gap: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.packageSelectButton {
  width: 100%;
  border: none;
  font-weight: 600;
  padding-block: 14px;
  border-radius: 9999px;
  background-color: #a4d1e2;
}
.check {
  height: 20px;
  width: 20px;
}
.footer {
  column-gap: 20px;
  padding: 80px 120px;
  font-family: "Inter", sans-serif;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.social {
  width: 171px;
  font-size: 18px;
  color: #6972b5;
  column-gap: 10px;
  font-weight: 700;
  padding-block: 10px;
  border-radius: 9999px;
  background-color: white;
  font-family: "Montserrat", serif;
  display: flex;
  padding: 10px 0px;
  justify-content: center;
}
.social img {
  width: 24px;
  height: 24px;
}
.finalLogo {
  height: 36px;
  width: 102px;
  margin-left: auto;
}
